* {
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  font-family: Righteous;
  margin-bottom: 115px;
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
}

label {
  font-family: Righteous;
  font-size: 20px;
}

.headerBackground {
  position: absolute;
  z-index: -1;
  background-image: url("images/background2.svg");
  aspect-ratio: 1300/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tutorial {
  text-align: center;
  font-family: Righteous;
  font-size: 20px;
  margin-bottom: 10px;
}

#chooseButton {
  margin-top: 15px;
}

#dropdown {
  margin-top: 10px;
}

.imageContainer {
  width: 600px;
  background-color: #212121;
}

#image {
  width: 100%;
  transition: all 1s ease;
}

#image:hover {
  transform: scale(1.01);
}

.imageButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin-top: 30px;
}

.imageButtonContainer button {
  width: 35px;
  height: auto;
  transition: all 0.25s ease;
  background-color: #3b3a3a;
  border-radius: 15px;
  border: none;
  color: #b3ff00;
  outline: solid 0.5px #b3ff00;
  /* display: none;  */
}

.imageButtonContainer button:hover {
  background-color: #b3ff00;
  color: #212121;
  -webkit-box-shadow: 0px 0px 27px -8px rgba(179, 255, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px -8px rgba(179, 255, 0, 0.75);
  box-shadow: 0px 0px 27px -8px rgba(179, 255, 0, 0.75);
}
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
